<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guaguadev.webviewlibrary" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 调用摄像头权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 录制视频/音频权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        >
     <activity android:name="com.guaguadev.webviewlibrary.activity.WebviewActivity"></activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
